@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover{
  color:#c59eb8
}

img {
  width: 100%;
}

.nav-container {
  background-color:#29193f;
  /* background-color: #6700ee; */
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: #00f7ff;
  font-weight: bold;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  background-color:#38136c;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 250px;
  font-weight: bold;
  color: #c59eb8;
}

span {
  margin-top: 1em;
  margin-right: 0.5em;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 2em 2em;
  text-align: center;
}

.about {
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #e5d5fa;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color:#29193f;
  letter-spacing: 0.2em;
  font-size: 1em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 2em;
  display: block;
  margin: 1em 0em;
}

.featured-desc {
  color: #252525;
  margin-bottom: 1em;
  font-size: 1em;
  line-height: 1.8em;
  font-weight: 500;
  max-width: 450px;
}

.about_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.girl_img {
  max-width: 50%;
  display: none;
}

#skills {
  background: #38136c;
}

.skills-container ul li {
  background: white;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 200px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .icon-container.first {
  width: 80px;
}

.skills-container ul li .icon-container.second {
  width: 200px;
}

.skills-container ul li .icon-container.third {
  width: 80px;
}

.skills-container ul li .skill-title {
  font-weight: bold;
}

.skills-container ul li .featured-desc {
  margin-bottom: 2em;
}

.projects {
  background: #f7f7f7;
}

.project-tile a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

.project-tile img {
  -webkit-box-shadow: 5px 10px #888888;
          box-shadow: 5px 10px #888888;
}

@media only screen and (min-width: 500px){
  .girl_img {
    display: block;
  }
}

@media only screen and (min-width: 800px) {
  .about,
  .projects {
    text-align: left;
  }
  .project-tile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
  }
  .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    /* -ms-grid-columns: (auto)[3]; */
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .projects {
    padding-top: 3em;
  }
  .project-tile img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
  background:#29193f;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 2em;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header ul img {
    width: 25px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
  background-color:#38136c;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 10%;
    width: 100%;
  }
  .project-tile img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 3em 5em 3em 5em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 6em 20em 4em 10em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}

.circle {
  animation: circleAnim 0.7s infinite alternate-reverse;
  z-index: 5;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(0px, 1px);
            transform: translate(0px, 1px);
  }
  to {
    -webkit-transform: translate(0px, 25px);
            transform: translate(0px, 25px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(0px, 1px);
            transform: translate(0px, 1px);
  }
  to {
    -webkit-transform: translate(0px, 25px);
            transform: translate(0px, 25px);
  }
}
/*# sourceMappingURL=main.css.map */